.DS_Store
.env
.flaskenv
*.pyc
*.pyo
*.gz
_pycache_
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
models/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
